// Global Reveal js style
@import "../../node_modules/reveal.js/css/reveal.css";
// For code syntax highlighting
@import "../../node_modules/highlight.js/styles/atom-one-dark.css";
@import "../../node_modules/reveal.js/css/theme/white.css";

.reveal.slide .slides > section, .reveal.slide .slides > section > section {
  min-height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  position: absolute !important;
  top: 0 !important;
  align-items: start !important;
  text-align: start !important;
}

section > h1, section > h2 {
  position: absolute !important;
  top: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0 !important;
  right: 0 !important;
  text-align: center !important;
}

@media print {
  .reveal.slide .slides > section, .reveal.slide .slides > section > section {
    min-height: 770px !important;
    position: relative !important;
  }
}
//
//.print-pdf .reveal.slide .slides > section, .print-pdf .reveal.slide .slides > section > section {
//  min-height: 770px !important;
//  position: relative !important;
//}


@import "fonts/Computer Modern/Serif/cmun-serif.css";
@import "fonts/Computer Modern/Sans/cmun-sans.css";


.reveal {
  font-family: "Computer Modern Serif", serif;
  font-size: 25px;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Computer Modern Sans", serif;
}


#header-left {
  position: absolute;
  top: 0;
  left: 0;
}

#header-right {
  position: absolute;
  top: 0;
  right: 0;
}

#footer-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

#footer-left {
  display: flex;
  flex-direction: row-reverse;
  height: 120px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  #logo {
    background: url('./uni-augsburg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 20%;
  }
}

#footer-right {
  display: flex;
  flex-direction: row;
  height: 120px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  #logo-eihw {
    margin: 10px;
    background-size: contain;
    background: url('./ChairLogo_4x.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    width: 20%;
  }
}


.images-text {
  img {
    margin: 0 !important;
    max-width: 100% !important;
    //display: block;
  }

  * {
    line-height: normal !important;
  }
}

.caption {
  margin: 5px;
  text-align: center;
  font-size: 15pt;
}

.source-caption {
  margin-top: 10px;
  text-align: end;
  font-size: 10pt;
}

.inner-caption {
  margin: 5px 0;
  text-align: center;
  font-size: 12pt;
}

.math-highlight {
  color: red;
}

.math-highlight-alt {
  color: blue;
}

.boxed {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 5px;
  text-align: center;
}

.references {
  font-size: 20px;

  * {
    text-align: start;
    margin: 10px !important;
    line-height: 1 !important;
  }
}

ul.contact-list {
  margin-top: 80px;

  > li {
    list-style: none;
    display: inline;

    a {
      color: black
    }
  }
}

// Fix for spec
.spec > spectrogram:nth-child(1) > canvas:nth-child(2) {
  left: 0
}

.playpause {
  background-color: #FFFFFF; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
}

.playback-wrapper {
  padding: 10px;
}


ul.math-list {
  > li {
    list-style: none;

    a {
      color: black
    }
  }
}

//div {
//  text-align: start
//}

// animate.css
// @import "../../node_modules/animate.css/animate.min.css";
